@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

nav#topnav ul a.active li {
    @apply text-blue-600;
}

nav#topnav ul a li::after {
    content: "";
    @apply block h-0.5 w-0 bg-blue-400 transition-all duration-500 rounded-md;
}

nav#topnav ul a:not(.active) li::after:hover {
    content: "";
    @apply block h-0.5 sm:w-full bg-blue-400;
}

nav#topnav ul a.active li::after {
    content: "";
    @apply block h-1 w-1 rounded-full mx-auto bg-blue-400;
}

#hero {
    background-image: url("data:image/svg+xml,%3Csvg%0A%20%20%20%20%20%20%20%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' %0A%20%20%20%20%20%20%20%20viewBox%3D'0%200%2032%2032' %0A%20%20%20%20%20%20%20%20width%3D'16' %0A%20%20%20%20%20%20%20%20height%3D'16' %0A%20%20%20%20%20%20%20%20fill%3D'none' %0A%20%20%20%20%20%20%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%0A%20%20%20%20%20%20%20%20%20%20fill%3D'rgb(0%200%200%20%2F%200.2)' %0A%20%20%20%20%20%20%20%20%20%20id%3D'pattern-circle' %0A%20%20%20%20%20%20%20%20%20%20cx%3D'10' %0A%20%20%20%20%20%20%20%20%20%20cy%3D'10' %0A%20%20%20%20%20%20%20%20%20%20r%3D'1.6257413380501518' %0A%20%20%20%20%20%20%20%20%2F%3E%0A%20%20%20%20%20%20%3C%2Fsvg%3E");
    background-repeat: repeat;
}